{
  "env": {
    "test": {
      "presets": [["airbnb", {
        "looseClasses": true,
        "modules": true,
        "runtimeHelpersUseESModules": false,
        "runtimeVersion": "7.12.5",
        "transformRuntime": true
      }]]
    },

    "cjs": {
      "presets": [["airbnb", {
        "looseClasses": true,
        "modules": false,
        "runtimeHelpersUseESModules": false,
        "runtimeVersion": "7.12.5",
        "transformRuntime": true
      }]]
    },

    "es": {
      "presets": [["airbnb", {
        "looseClasses": true,
        "modules": false,
        "runtimeHelpersUseESModules": true,
        "runtimeVersion": "7.12.5",
        "transformRuntime": true
      }]]
    },

    "development": {
      "presets": [["airbnb", {
        "looseClasses": true,
        "modules": false,
        "runtimeVersion": "7.12.5",
        "transformRuntime": true
      }]]
    }
  }
}
