{
  "env": {
    "test": {
      "presets": [["airbnb", { "modules": true }]]
    },
    "production": {
      "presets": [["airbnb", { "modules": false }]]
    },
    "development": {
      "presets": [["airbnb", { "modules": false }]]
    }
  }
}
