{
  "env": {
    "test": {
      "presets": [["airbnb", {
        "modules": true,
        "transformRuntime": false
      }]]
    },
    "production": {
      "presets": [["airbnb", {
        "modules": false,
        "transformRuntime": false
      }]]
    },
    "development": {
      "presets": [["airbnb", {
        "modules": false,
        "transformRuntime": false
      }]]
    }
  }
}
