---
  env:
    browser: true
    es6: true
    node: true

  ecmaFeatures:
    jsx: true

  plugins:
    - react

  rules:
    block-scoped-var: 0
    brace-style:
      - 2
      - 1tbs
      -
        allowSingleLine: false
    camelcase: 0
    comma-dangle: 0
    comma-style:
      - 2
      - last
    complexity:
      - 1
      - 10
    consistent-return: 0
    key-spacing: 0
    guard-for-in: 2
    indent:
      - 2
      - 2
    max-len:
      - 0
      - 80
    max-nested-callbacks:
      - 2
      - 3
    no-bitwise: 2
    no-comma-dangle: 0
    no-eq-null: 2
    no-floating-decimal: 2
    no-lonely-if: 2
    no-multiple-empty-lines: 2
    no-nested-ternary: 2
    no-self-compare: 2
    no-throw-literal: 2
    no-var: 2
    no-void: 2
    no-with: 2
    new-cap:
      - 2
      -
        newIsCap: true
        capIsNew: false
    no-duplicate-case: 0
    no-multi-spaces: 0
    no-underscore-dangle: 0
    operator-assignment:
      - 2
      - always
    padded-blocks:
      - 2
      - never
    quotes:
      - 2
      - single
      - avoid-escape
    radix: 2
    react/jsx-boolean-value: 2
    react/display-name: 0
    react/jsx-quotes:
      - 0
      - double
      - avoid-escape
    react/jsx-no-undef: 2
    react/jsx-uses-react: 1
    react/jsx-uses-vars: 1
    react/no-did-mount-set-state: 1
    react/no-did-update-set-state: 1
    react/no-multi-comp: 1
    react/prop-types: 2
    react/react-in-jsx-scope: 1
    react/self-closing-comp: 2
    react/wrap-multilines: 2
    space-after-keywords:
      - 2
      - always
    space-before-blocks:
      - 2
      - always
    space-before-function-paren:
      - 2
      - never
    space-in-parens:
      - 2
      - never
    spaced-line-comment:
      - 2
      - always
    strict:
      - 2
      - never
    valid-jsdoc:
      - 2
      -
        prefer:
          returns: return
        requireParamDescription: false
        requireReturn: false
        requireReturnDescription: false
    wrap-iife:
      - 2
      - outside
