.basic-example {
  border: solid 1px #cecece;
  position: relative;
}

.basic-example__scrollable-parent {
  max-height: 500px;
  overflow: scroll;
  position: relative;
}

.basic-example__spacer {
  color: #ccc;
  font-size: 40px;
  line-height: 200px;
  text-align: center;
}

.basic-example__spacer:before {
  content: '▼';
}

.basic-example__waypoint-line {
  border-top: 1px dashed red;
}

.basic-example__message {
  background-color: #999;
  color: #fff;
  left: 0;
  opacity: 0.5;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}
