.header {
  background-color: #9c27b0;
  color: #fff;
  padding: 1.5em;
}

.main-content {
  padding: 1.5em;
}

@media (min-width: 700px) {
  .main-content {
    width: 80%;
    margin: 0 auto;
  }
}

pre {
  /* override bootstrap style to work with React; React creates two nested 'pre'
   * tags when you use 'pre'
   */
  border-width: 0;
}
